<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="navbar">
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>
    <div class="navegacion">
        <a href="#home">Inicio</a>
        <a href="#about">Sobre nosotros</a>
        <a href="#services">Servicios</a>
        <a href="#contact">Contacto</a>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">
                Salir
            </button>
        </form>
    </div>
</div>

<div class="section">
    <h2 class="section-title" style="width: 70%; margin-right: auto; margin-left: auto">Panel de administrador</h2>
    <div class="contenido" style="width: 70%; margin-right: auto; margin-left: auto">
        <div class="admin-section">
            <button class="admin-buttons" onclick="window.location.href='/rol/listado'">
                <i class="fas fa-key fa-3x"></i>
                GESTIONAR <br>
                ROLES/PERMISOS
            </button>
            <button class="admin-buttons" onclick="window.location.href='/usuario/listado'">
                <i class="fa-solid fa-user fa-3x"></i>
                GESTIONAR <br>
                USUARIOS
            </button>
            <button class="admin-buttons" onclick="window.location.href='/dieta/listado'">
                <i class="fa-solid fa-utensils fa-3x"></i>
                GESTIONAR <br>
                TIPO DIETAS
            </button>
            <button class="admin-buttons" onclick="window.location.href='/vianda/listado'">
                <i class="fa-solid fa-bowl-food fa-3x"></i>
                GESTIONAR <br>
                VIANDAS
            </button>
            <button class="admin-buttons" onclick="window.location.href='/menus/listado'">
                <i class="fa-solid fa-calendar-week fa-3x"></i>
                GESTIONAR <br>
                MENÚS
            </button>
            <button class="admin-buttons" onclick="window.location.href='/entrega/listado'">
                <i class="fa-solid fa-truck fa-3x"></i>
                GESTIONAR <br>
                ENTREGAS
            </button>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/1b8cf50d7a.js" crossorigin="anonymous"></script>
</body>
</html>