<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado entregas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="navbar">
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>
    <div class="navegacion">
        <a href="#home">Inicio</a>
        <a href="#about">Sobre nosotros</a>
        <a href="#services">Servicios</a>
        <a href="#contact">Contacto</a>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">
                Salir
            </button>
        </form>
    </div>
</div>

<div class="section">
    <div th:if="${error}" class="alert alert-danger" th:text="${error}" style="color: darkred; margin-top: 10px; text-align: left; background-color: #f8d7da; padding:10px; border-radius:4px;"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}" style="color: darkgreen; margin-top: 10px; text-align: left; background-color: #00cc88; padding: 10px; border-radius: 4px;"></div>
    <h2 class="section-title">Listado de entregas</h2>
    <div class="fila botones-lista">
        <button class="confirm-button boton-volver" onclick="window.location.href='/admin'">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="confirm-button" onclick="window.location.href='/entrega/generar'">
            Generar entregas
        </button>
    </div>
    <div class="contenido">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Forma Entrega</th>
                <th>Vianda</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entrega : ${entregas}">
                <td th:text="${entrega.id}"></td>
                <td th:text="${entrega.cliente.nombreCliente} + ' ' + ${entrega.cliente.apellidoCliente}"></td>
                <td th:text="${entrega.formaEntrega.name()}"></td>
                <td th:text="${entrega.vianda.nombreVianda}"></td>
                <td th:text="${entrega.estado.name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://kit.fontawesome.com/1b8cf50d7a.js" crossorigin="anonymous"></script>
</body>
</html>